.ps-ts1 {
  height: 30vw;
  overflow-y: scroll;
  border: #D3D3D3 solid 3px;
}

.ps-ts1-box0 {
  height: 10vw;
}

.ps-ts1-box1 {
  height: 10vw;
  background: #FFA500;
  position: sticky;
  top: 0px;
}

.ps-ts1-box2 {
  height: 100vw;
}
