.te-ts5{
  .ts5-tv{
    float: left;
    display: inline-block; // block;
    width: 10vw;
  }
}

.text-ellipse{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*word-break: break-all;*/
}

.tet-ellipse-sty1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*word-break: break-all;*/
}

/* !兼容-IE，适用于WebKit浏览器及移动端 */
.tet-ellipse-sty2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* !兼容-IE */
.tet-ellipse-sty3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* 适用范围广 */
.tet-ellipse-sty4 {
  position: relative;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
}

.tet-ellipse-sty4::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 40px;
  background: -webkit-linear-gradient(left, transparent, #fff 55%);
  background: -o-linear-gradient(right, transparent, #fff 55%);
  background: -moz-linear-gradient(right, transparent, #fff 55%);
  background: linear-gradient(to right, transparent, #fff 55%);
}
