.svg-ts1{
  div{
    float: left;
  }
}

.svg-ts1-v1{
  width: 100px;
  height: 30px;
  background: #FFA500;
}

.svg-ts1-v2{
  width: 100px;
  height: 30px;
  margin-left: 50px;
  background: #FFC0CB;
}
